# Clutter
._.*
._*
.DS_Store
*.db
*.db-*
*.log
deps/
__pycache__
check.output

# Sensitive
*token*
secrets.yaml
.uuid
html5_push_registrations.conf
known_devices.yaml
entity_registry.yaml
.cloud/
.stfolder/
.storage
.homekit.state

# Vendor
.ios.conf
.tradfri_psk.conf
feedreader.pickle
plex.conf
google_calendars.yaml
tts/
dasher/
node_modules
package-lock.json

# Esphome artifacts
esphome/.esphome/
esphome/**/.pioenvs/
esphome/**/.piolibdeps/
esphome/**/lib/
esphome/**/src/
esphome/**/platformio.ini
esphome/secrets.yaml

# HA Generated / Specific
.HA_VERSION