# Clutter
._.*
._*
.DS_Store
*.db
*.db-*
*.log
deps/
__pycache__

# Sensitive
*token*
secrets.yaml
zones.yaml
.uuid
html5_push_registrations.conf
known_devices.yaml
entity_registry.yaml
.cloud/
.stfolder/
.storage

# Vendor
.ios.conf
.tradfri_psk.conf
feedreader.pickle
plex.conf
google_calendars.yaml
tts/
dasher/
