repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
  - repo: https://github.com/thibmaek/pre-commit
    rev: 'v1.0.1'
    hooks:
      - id: disallow-yml
      - id: shellcheck

  - repo: local
    hooks:
      - id: yamllint
        name: Lint YAML
        entry: yamllint
        language: system
        files: .yaml$
