extends: default

rules:
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  document-start: disable
  quoted-strings: disable
    #level: warning
    #quote-type: any
  truthy: disable
  line-length: disable
