extends: default

ignore: |
  custom_components/
  node_modules
  esphome/**/*.pio*
  esphome/test.yaml

rules:
  comments-indentation: disable
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  document-start: disable
  quoted-strings: disable
  truthy: disable
  line-length: disable
