extends: default

ignore: |
  custom_components/
  esphome/**/*.pio*
  esphome/test.yaml
  node_modules

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
    require-starting-space: true
  comments-indentation: disable
  document-start: disable
  line-length: disable
  quoted-strings: disable
  truthy: disable
